<!-- views/editUser.ejs -->

<div class="modal fade" id="editarUsuarioModal<%= usuario.id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de edición -->
        <form action="/editar-usuario/<%= usuario.id %>" method="post">

          <!-- Rol -->
          <div class="mb-3">
            <label for="rol" class="form-label">Rol:</label>
            <div class="input-group">
              <span class="input-group-text bg-white"><i class="fas fa-user-shield"></i></span>
              <input type="text" class="form-control" id="rol" name="rol" value="<%= usuario.rol %>" readonly>
            </div>
          </div>

          <!-- Cédula -->
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula:</label>
            <input type="text" class="form-control" id="cedula" name="cedula" value="<%= usuario.cedula %>" required>
          </div>

          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuario.name %>" required>
          </div>

          <!-- Apellido -->
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" value="<%= usuario.lastname %>"
              required>
          </div>

          <!-- Correo -->
          <div class="mb-3">
            <label for="correo" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="correo" name="correo" value="<%= usuario.email %>" required>
          </div>

          <!-- Número -->
          <div class="mb-3">
            <label for="numero" class="form-label">Número:</label>
            <input type="text" class="form-control" id="numero" name="numero" value="<%= usuario.celular %>" required>
          </div>

          <!-- Botones -->
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
